<!DOCTYPE html>
<html>
<head>

    <title>Page Title</title>
    <style>
        body{
            background-color: #258741;
        }
    </style>
</head>
<body>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>

<h1>This is Home Page</h1> 
</body>
</html>