<!DOCTYPE html>
<html>
<head>
   <title>Page Title</title>
   <style>
       body{
           background-color: #36BAAA;
       }
   </style>
</head>
<body>
    <h2>This is About Page</h2>
    <h3><%= a %></h3>
    <h3><%= b %></h3>
</body>
</html>